.flex-container{
    width: 100vw;
    height: 100vh;
    display: inline-flex; 
    flex-direction: row; /* row: valor por defecto | column: hace el eje principal (main axis) sea vertical | row-reverse | column-reverse*/
    justify-content: flex-start; /* alinea los elementos en el eje principal (main axis) */
}

.flex-item{
    background-color: red;
    color: yellow;
    width: 20vw;
    height: 35vh;
    box-sizing: border-box;
    margin: 0px 10px; 
}

.flex-item2{
    background-color: black;
    color: white;
    width: 20vw;
    height: 35vh;
    box-sizing: border-box;
    margin: 0px 10px; 
}

h2{
    font-size: 2em;
    margin: 0;
}

h3{
    font-size: 2em;
    margin: 0;
}